<html>
<body>
    <h3>Iris Data Prediction</h3>

<div>
  <form action="/predict" method="POST">
    <label for="Crim">Crim</label>
    <input type="text" id="Crim" name="Crim">
    <br>
    <label for="nitric_oxides_concentration">nitric_oxides_concentration</label>
    <input type="text" id="nitric_oxides_concentration" name="nitric_oxides_concentration">
    <br>
    <label for="number_rooms">number_rooms</label>
    <input type="text" id="number_rooms" name="number_rooms">
    <br>
    <label for="age">age</label>
    <input type="text" id="age" name="age">
    <br>
    <label for="distances_empl">distances_empl</label>
    <input type="text" id="distances_empl" name="distances_empl">
    <br>
    <label for="PTratio">PTratio</label>
    <input type="text" id="PTratio" name="PTratio">
    <br>
    <label for="LSTAT">LSTAT</label>
    <input type="text" id="LSTAT" name="LSTAT">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>